// COLORS
$color-primary: #55c57a;
$color-primary-lite: #7ed56f;
$color-primary-dark: #28b485;
$color-gray: #777;
$color-gray-lite-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

// FONTS
$font-size-primary: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
