.navbar {
  &__checkbox {
    display: none;
  }
  &__button {
    width: 7rem;
    height: 7rem;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    display: inline-block;
    position: fixed;
    top: 6rem;
    right: 6rem;
    cursor: pointer;
    z-index: 2000;
  }
  &__background {
    width: 6rem;
    height: 6rem;
    background-image: radial-gradient($color-primary-lite, $color-primary-dark);
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }
  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  &__list {
    @include positionMiddle;
    list-style: none;
    text-align: center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      color: $color-white;
      font-size: 3rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
    top: 0;
    right: 0;
  }
}
